$theme-colors: (
  "primary": #0d3e79,
  "secondary": #00bfa5,
  "light": #f8f9fa,
);

$link-color: #0d3e79;
$link-decoration: none;
$hr-color: #dee2e6;
$hr-opacity: 1;
$nav-shadow: #d5d5d5;

.link {
  border-bottom: 1px dotted;
}

.status-filter-inactive {
  border-radius: 0px !important;
  border: none !important;
  color: #0d3e79 !important;
  padding-bottom: 5px !important;
}

.status-filter-active {
  border-radius: 0px !important;
  border: none !important;
  border-bottom: 5px solid #0d3e79 !important;
  font-weight: bold;
  color: #0d3e79 !important;
}

.status-filter:hover {
  color: #ff7261 !important;
}

.chart-toggle-disabled {
  color: #0d3e79 !important;
  border: 1px solid #ced4da !important;
}

.chart-toggle-active {
  color: #fff !important;
  background-color: #0d3e79 !important;
}

.workgroup-select-inactive {
  color: #0d3e79 !important;
  border: 1px solid #ced4da !important;
  cursor: pointer !important;
}

.workgroup-select-active {
  color: #0d3e79 !important;
  border: 1px solid #ced4da !important;
  cursor: pointer !important;
}

.form-select:focus {
  box-shadow: none !important;
}

.navbar-toggle {
  // Use !important to override BootStrap class
  border: none !important;
  box-shadow: none !important;
}

.nav-shadow {
  box-shadow: 0px 3px 6px $nav-shadow;
  z-index: 3;
}

.nav-tile {
  cursor: pointer;
  border: 0.5px solid rgba(213, 213, 213, 0.4) !important;
  box-shadow: 0px 3px 6px $nav-shadow;
}

.nav-tile:hover {
  box-shadow: 0px 7px 10px $nav-shadow;
}

.card-img-top {
  object-fit: cover;
}

.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.carousel-control-prev,
.carousel-control-next {
  width: 7% !important;
}

.footer {
  background-color: #162b4c;
}

.footer-link:hover {
  font-weight: bolder;
}

.hero-section {
  background-image: url("/assets/skyline.png") !important;
  background-size: cover;
  min-height: 350px;
  text-shadow: 2px 2px 2px #0d3e79;
}

// @media only screen and (min-width: 992px) {
//   // Use !important to override BootStrap class
//   .navbar-menu-link {
//     padding-top: 0 !important;
//     padding-bottom: 0 !important;
//   }
// }

@media only screen and (min-width: 768px) {
  .navbar-menu-borders {
    border-style: none none none solid;
    border-color: #00bfa5;
    border-width: 1px;
  }
}

@media only screen and (min-width: 576px) {
  // Use !important to override BootStrap class
  .navbar-menu-link {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

@import "~bootstrap/scss/bootstrap";

// DTS Colors (for reference)
// .color-1 {
//     color:#5f7d8c;
// }
// .color-2 {
//     color:#86b1c6;
// }
// .color-3 {
//     color:#162b4c;
// }
// .color-4 {
//     color:#0b3e79;
// }
// .color-5 {
//     color:#007089;
// }
// .color-6 {
//     color:#00bfa5;
// }
// .color-7 {
//     color:#f2fc6d;
// }
// .color-8 {
//     color:#ff7261;
// }
// .color-9 {
//     color:#ff9a8e;
// }
// .color-10 {
//     color:#ffc3bb;
// }
// .color-11 {
//     color:#ffe2df;
// }
